---

name: Python app change testing


on:
  workflow_call:


jobs:

  Bandit:
    name: Analyze Python code with Bandit
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      -
        name: Check out corresponding git branch
        uses: actions/checkout@v3
        with:
          # This job does not require git history
          fetch-depth: 1
      -
        name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: pipenv
          python-version-file: .python-version
      -
        name: Install Pipenv
        run: >-
          pip
          --verbose
          install
          --progress-bar=off
          --
          pipenv
      -
        name: Install development dependencies
        run: >-
          pipenv
          --verbose
          install
          --dev
      -
        name: Analyze Python code with Bandit
        run: >-
          pipenv
          --verbose
          run
          --
          bandit
          --configfile=pyproject.toml
          --recursive
          --verbose
          --
          .

  Flake8:
    name: Lint Python code with Flake8
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      -
        name: Check out branch proposed for merging
        uses: actions/checkout@v3
        with:
          # This job does not require git history
          fetch-depth: 1
      -
        name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: pipenv
          python-version-file: .python-version
      -
        name: Install Pipenv
        run: >-
          pip
          --verbose
          install
          --progress-bar=off
          --
          pipenv
      -
        name: Install development dependencies
        run: >-
          pipenv
          --verbose
          install
          --dev
      -
        name: Lint Python code with Flake8
        # Project settings for Flake8 may be specified in each project's configuration file, .flake8
        run: >-
          pipenv
          --verbose
          run
          --
          flake8
          --verbose

  Pylint:
    name: Analyze Python code with Pylint
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      -
        name: Check out corresponding git branch
        uses: actions/checkout@v3
        with:
          # This job does not require git history
          fetch-depth: 1
      -
        name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: pipenv
          python-version-file: .python-version
      -
        name: Install Pipenv
        run: >-
          pip
          --verbose
          install
          --progress-bar=off
          --
          pipenv
      -
        name: Install development dependencies
        run: >-
          pipenv
          --verbose
          install
          --dev
      -
        name: Analyze Python code with Pylint
        # With --jobs=0, Pylint works in parallel with as many threads as processors in the system
        run: >-
          pipenv
          --verbose
          run
          --
          pylint
          --jobs=0
          --recursive=yes
          --verbose
          --
          .

  pytest:
    name: Test Python code with pytest
    permissions:
      contents: read
    strategy:
      matrix:
        OS:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.OS }}
    steps:
      -
        name: Check out corresponding git branch
        uses: actions/checkout@v3
        with:
          # This job does not require git history
          fetch-depth: 1
      -
        name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: pipenv
          python-version-file: .python-version
      -
        name: Install Pipenv
        run: >-
          pip
          --verbose
          install
          --progress-bar=off
          --
          pipenv
      -
        name: Install development dependencies
        run: >-
          pipenv
          --verbose
          install
          --dev
      -
        name: Test Python code with pytest
        run: >-
          pipenv
          --verbose
          run
          --
          pytest
          --verbose
